<twig:alert class="w-full" color="info">
    <twig:ux:icon name="iconoir:info-circle" class="h-6 w-6" />
    <span>New software update available.</span>
</twig:alert>
<twig:alert class="w-full" color="success">
    <twig:ux:icon name="iconoir:check-circle" class="h-6 w-6" />
    <span>Your purchase has been confirmed!</span>
</twig:alert>
<twig:alert class="w-full" color="warning">
    <twig:ux:icon name="iconoir:warning-triangle" class="h-6 w-6" />
    <span>Warning: Invalid email address!</span>
</twig:alert>
<twig:alert class="w-full" color="error">
    <twig:ux:icon name="iconoir:xbox-x" class="h-6 w-6" />
    <span>Error! Task failed successfully.</span>
</twig:alert>
