<twig:alert class="w-full alert-vertical sm:alert-horizontal">
    <twig:ux:icon name="iconoir:info-circle" class="h-6 w-6 text-info" />
    <div>
        <h3 class="font-bold">New message!</h3>
        <div class="text-xs">You have 1 unread message</div>
    </div>
    <twig:button size="sm">See</twig:button>
</twig:alert>
