<twig:alert class="w-full" color="info" style="soft">
    <span>12 unread messages. Tap to see.</span>
</twig:alert>
<twig:alert class="w-full" color="success" style="soft">
    <span>Your purchase has been confirmed!</span>
</twig:alert>
<twig:alert class="w-full" color="warning" style="soft">
    <span>Warning: Invalid email address!</span>
</twig:alert>
<twig:alert class="w-full" color="error" style="soft">
    <span>Error! Task failed successfully.</span>
</twig:alert>
