<twig:alert class="w-full alert-vertical sm:alert-horizontal">
    <twig:ux:icon name="iconoir:info-circle" class="h-6 w-6 text-info" />
    <span>we use cookies for no reason.</span>
    <div>
        <twig:button size="sm">Deny</twig:button>
        <twig:button size="sm" color="primary">Accept</twig:button>
    </div>
</twig:alert>
