<div class="overflow-x-auto">
    <twig:steps>
        <twig:stepItem>start</twig:stepItem>
        <twig:stepItem color="secondary">2</twig:stepItem>
        <twig:stepItem color="secondary">3</twig:stepItem>
        <twig:stepItem color="secondary">4</twig:stepItem>
        <twig:stepItem>5</twig:stepItem>
        <twig:stepItem color="accent">6</twig:stepItem>
        <twig:stepItem color="accent">7</twig:stepItem>
        <twig:stepItem>8</twig:stepItem>
        <twig:stepItem color="error">9</twig:stepItem>
        <twig:stepItem color="error">10</twig:stepItem>
        <twig:stepItem>11</twig:stepItem>
        <twig:stepItem>12</twig:stepItem>
        <twig:stepItem color="warning">13</twig:stepItem>
        <twig:stepItem color="warning">14</twig:stepItem>
        <twig:stepItem>15</twig:stepItem>
        <twig:stepItem color="neutral">16</twig:stepItem>
        <twig:stepItem color="neutral">17</twig:stepItem>
        <twig:stepItem color="neutral">18</twig:stepItem>
        <twig:stepItem color="neutral">19</twig:stepItem>
        <twig:stepItem color="neutral">20</twig:stepItem>
        <twig:stepItem color="neutral">21</twig:stepItem>
        <twig:stepItem color="neutral">22</twig:stepItem>
        <twig:stepItem color="neutral">23</twig:stepItem>
        <twig:stepItem color="neutral">end</twig:stepItem>
    </twig:steps>
</div>
