<twig:browser class="border border-base-300 w-full">
    <twig:browserToolbar>
        <div class="input">https://daisyui.com</div>
    </twig:browserToolbar>
    <twig:browserContent class="grid place-content-center h-80">
        Hello!
    </twig:browserContent>
</twig:browser>
