<twig:browser class="border-base-300 border w-full">
    <twig:browserToolbar>
        <div class="input">https://daisyui.com</div>
    </twig:browserToolbar>
    <twig:browserContent class="grid place-content-center border-t border-base-300 h-80">
        Hello!
    </twig:browserContent>
</twig:browser>
