<div class="w-full h-64 relative">
    <twig:toast class="absolute" vertical="bottom" horizontal="end">
        <twig:alert color="info">
            New message arrived.
        </twig:alert>
    </twig:toast>
</div>
