<div class="avatar-group -space-x-6">
  <twig:avatar src="https://picsum.photos/192/192" class="w-12" alt="Avatar 1" />
  <twig:avatar src="https://picsum.photos/192/192" class="w-12" alt="Avatar 2" />
  <twig:avatar src="https://picsum.photos/192/192" class="w-12" alt="Avatar 3" />
  <twig:avatar placeholder="+99" class="w-12 bg-neutral text-neutral-content" />
</div>
