<div class="avatar-group -space-x-6">
  <twig:avatar src="https://picsum.photos/192/192" class="w-12" />
  <twig:avatar src="https://picsum.photos/192/192" class="w-12" />
  <twig:avatar src="https://picsum.photos/192/192" class="w-12" />
  <twig:avatar src="https://picsum.photos/192/192" class="w-12" />
</div>
