<twig:join>
    <div>
        <div>
            <input class="input join-item" placeholder="Search" />
        </div>
    </div>
    <select class="select join-item">
        <option disabled selected>Filter</option>
        <option>Sci-fi</option>
        <option>Drama</option>
        <option>Action</option>
    </select>
    <div class="indicator">
        <twig:badge color="secondary" class="indicator-item">new</twig:badge>
        <twig:button class="join-item">Search</twig:button>
    </div>

    {# TODO: A refaire avec les vrais components #}
</twig:join>
