<twig:menu direction="horizontal" class="bg-base-200 rounded-box">
    <li>
        <a class="tooltip tooltip-top" data-tip="Search">
            <twig:ux:icon name="iconoir:search" class="h-5 w-5" />
        </a>
    </li>
    <li>
        <a class="tooltip tooltip-top" data-tip="Heart">
            <twig:ux:icon name="iconoir:heart" class="h-5 w-5" />
        </a>
    </li>
    <li>
        {# TODO: component tooltip #}
        <a class="tooltip tooltip-top" data-tip="Add page">
            <twig:ux:icon name="iconoir:add-page" class="h-5 w-5" />
        </a>
    </li>
</twig:menu>
