<twig:menu direction="horizontal" class="bg-base-200 rounded-box">
    <li>
        <a>
            <twig:ux:icon name="iconoir:search" class="h-5 w-5" />
            Search
            <span class="badge badge-xs">99+</span>
        </a>
    </li>
    <li>
        <a>
            <twig:ux:icon name="iconoir:heart" class="h-5 w-5" />
            Updates
            <span class="badge badge-xs badge-warning">NEW</span>
        </a>
    </li>
    <li>
        <a>
            Stats
            <span class="badge badge-xs badge-info"></span>
        </a>
    </li>
</twig:menu>
