<twig:menu direction="horizontal" class="bg-base-200 rounded-box">
    <li>
        <a>
            <twig:ux:icon name="iconoir:search" class="h-5 w-5" />
        </a>
    </li>
    <li>
        <a>
            <twig:ux:icon name="iconoir:heart" class="h-5 w-5" />
        </a>
    </li>
    <li>
        <a>
            <twig:ux:icon name="iconoir:add-page" class="h-5 w-5" />
        </a>
    </li>
</twig:menu>
