<twig:menu class="menu bg-base-200 rounded-box w-56">
    <li>
        <a>
            <twig:ux:icon name="iconoir:search" class="h-5 w-5" />
            Item 2
        </a>
    </li>
    <li>
        <a>
            <twig:ux:icon name="iconoir:heart" class="h-5 w-5" />
            Item 1
        </a>
    </li>
    <li>
        <a>
            <twig:ux:icon name="iconoir:add-page" class="h-5 w-5" />
            Item 3
        </a>
    </li>
</twig:menu>
