<div class="flex w-full flex-col">
    <twig:divider>Default</twig:divider>
    <twig:divider color="neutral">Neutral</twig:divider>
    <twig:divider color="primary">Primary</twig:divider>
    <twig:divider color="secondary">Secondary</twig:divider>
    <twig:divider color="accent">Accent</twig:divider>
    <twig:divider color="success">Success</twig:divider>
    <twig:divider color="warning">Warning</twig:divider>
    <twig:divider color="info">Info</twig:divider>
    <twig:divider color="error">Error</twig:divider>
</div>
