<div class="flex w-full h-52">
    <twig:divider direction="horizontal" placement="start">Start</twig:divider>
    <twig:divider direction="horizontal">Default</twig:divider>
    <twig:divider direction="horizontal" placement="end">End</twig:divider>
</div>
