<div class="flex w-full">
    <div class="card bg-base-300 rounded-box grow grid h-20 place-items-center">content</div>
    <twig:divider direction="horizontal">OR</twig:divider>
    <div class="card bg-base-300 rounded-box grow grid h-20 place-items-center">content</div>
</div>
