{% extends '@UIToolboxDoc/_layout/base.html.twig' %}

{% block title %}UI Toolbox Documentation{% endblock %}

{% block body %}
    <div class="flex flex-col lg:flex-row gap-4">
        <!-- Sidebar -->


        <!-- Content -->
        <section class="w-full lg:w-3/4">
            <div class="prose max-w-none">
                <h1 class="text-3xl font-bold mb-4">Bienvenue dans la documentation UI Toolbox</h1>
                <p>Sélectionnez un composant dans le menu de gauche pour en savoir plus.</p>
            </div>
        </section>
    </div>

{% endblock %}
